{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
<h1>{{ title }}</h1>
<form method="post" novalidate>
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="adminlist">
    <thead>
      <tr><th>Батарея</th><th>Начало</th><th>Окончание</th><th>Удалить</th></tr>
    </thead>
    <tbody>
      {% for form in formset %}
        <tr>
          <td>{{ form.battery }}</td>
          <td>{{ form.start_at }}</td>
          <td>{{ form.end_at }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <input type="submit" value="Сохранить" class="button button-primary" />
    {% url 'admin:rental_rental_changelist' as rental_list_url %}
    <a href="{% firstof request.META.HTTP_REFERER rental_list_url %}" class="button">Назад</a>
  </div>
</form>
{% endblock %}
