Django==5.0.7
psycopg==3.1.18
django-simple-history==3.7.0
python-dotenv==1.0.1

# WSGI server
gunicorn==23.0.0

# HTMX integration for Django
django-htmx

# Static files in production
whitenoise==6.7.0
